{% extends 'cal/base.html' %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block title %}
Calendar
{% endblock %}
<style>
	.gy:hover{
		background-color: greenyellow;
		font-style: italic;
		transition: 0.02em;
	  }
</style>

{% block content %}
<div class="gy">
	<button style="float: left;"><a class="gy" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a></button>
	<button style="float: right;"><a class="gy" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a></button>
</div>

<div style="background-color: rgb(194, 192, 171);">
	<b>{{ calendar }}</b>
</div>

<div>
{% if user.is_authenticated and user.is_staff %}
	<button><a class="gy" href="{% url 'cal:event_new' %}"> +New Event </a></button>
{% endif %}
</div>
{% endblock %}